In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import hddm
import kabuki
import ipyparallel

data1 = hddm.load_csv('sv02_total.csv')
data1 = data1[data1.blockType == "formal"]
data1 = data1[data1.series == 1]
data1 = data1[data1.rt > 0]
data1.head(10)

/root/.local/lib/python3.8/site-packages/IPython/parallel.py:12: ShimWarning: The `IPython.parallel` package has been deprecated since IPython 4.0. You should import from ipyparallel instead.
  warn("The `IPython.parallel` package has been deprecated since IPython 4.0. "

,index,subj_idx,Sex,BirthYear,Education,shapeFileName,shape,shapeEn,shapeName,shapeNameEn,...,subjResp,series,condition,block,blockType,trial,response,acc,rt,time_elapsed
1292,sv020005,sv020005,NaN,NaN,NaN,Pen.png,Pen,pentagon,NaN,NaN,...,m,1,match,1,formal,1,1,1,611.330,299312
1293,sv020005,sv020005,NaN,NaN,NaN,Tri.png,Tri,triangle,NaN,NaN,...,n,1,match,1,formal,2,0,0,700.120,301214
1294,sv020005,sv020005,NaN,NaN,NaN,Tri.png,Tri,triangle,NaN,NaN,...,m,1,match,1,formal,3,1,1,561.050,302980
1295,sv020005,sv020005,NaN,NaN,NaN,Pen.png,Pen,pentagon,NaN,NaN,...,n,1,mismatch,1,formal,4,1,1,543.995,304730
1296,sv020005,sv020005,NaN,NaN,NaN,Squ.png,Squ,square,NaN,NaN,...,n,1,mismatch,1,formal,5,1,1,700.270,306634
1297,sv020005,sv020005,NaN,NaN,NaN,Tri.png,Tri,triangle,NaN,NaN,...,m,1,match,1,formal,6,1,1,781.850,308619
1298,sv020005,sv020005,NaN,NaN,NaN,Squ.png,Squ,square,NaN,NaN,...,m,1,match,1,formal,7,1,1,519.400,310343
1299,sv020005,sv020005,NaN,NaN,NaN,Cir.png,Cir,circular,NaN,NaN,...,m,1,match,1,formal,8,1,1,754.165,312301
1300,sv020005,sv020005,NaN,NaN,NaN,Tri.png,Tri,triangle,NaN,NaN,...,n,1,mismatch,1,formal,9,1,1,535.880,314041
1301,sv020005,sv020005,NaN,NaN,NaN,Cir.png,Cir,circular,NaN,NaN,...,n,1,mismatch,1,formal,10,1,1,730.350,315977

In [2]:
m = hddm.HDDM(data1,
    depends_on = {
        "v": ["misNum"]
    }, 
    is_group_model = True,
    bias = True
)
m.find_starting_values()
m.sample(2000, burn=20)

/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)
/usr/local/lib/python3.8/dist-packages/scipy/optimize/optimize.py:2215: RuntimeWarning: invalid value encountered in double_scalars
  tmp2 = (x - v) * (fx - fw)

 [-----------------100%-----------------] 2001 of 2000 complete in 2764.3 sec

In [1]:
m.gen_stats()

NameError: name 'm' is not defined